/* TODO: create custom color theme */

@import "./node_modules/bootstrap/scss/bootstrap";

html { height: 100%; }
body { height: 100%; }

#dh-btn-connect-room,
#dh-btn-create-room {
    height: 2.7em;
    width: 100%;
}

@include media-breakpoint-up(lg) {
    #dh-btn-connect-room,
    #dh-btn-create-room {
        width: 10em;
    }
}

