/* TODO: create custom color theme */

@import "./node_modules/bootstrap/scss/bootstrap";

html { height: 100%; }
body { height: 100%; }

#dhBtnConnectRoom,
#dhBtnCreateRoom {
    height: 2.7em;
    width: 100%;
}

@include media-breakpoint-up(lg) {
    #dhBtnConnectRoom,
    #dhBtnCreateRoom {
        width: 10em;
    }
}

.toast-info {
    background-color: #def1f7;
    color: #1c657d;
    border-color: #c6e6f1;
}

.toast-success {
    background-color: #d6f0e0;
    color: #0d6831;
    border-color: #c0e7d0;
}

.toast-warning {
    background-color: #fbf0da;
    color: #73510d;
    border-color: #f9e4be;
}

.toast-danger {
    background-color: #f9e1e5;
    color: #af233a;
    border-color: #f4c8cf;
}

.caret-off::before {
    display: none !important;
}

.caret-off::after {
    display: none !important;
}