/* TODO: create custom color theme */

@import "./node_modules/bootstrap/scss/bootstrap";

html { height: 100%; }
body { height: 100%; }

#dhBtnConnectRoom,
#dhBtnCreateRoom {
    height: 2.7em;
    width: 100%;
}

@include media-breakpoint-up(lg) {
    #dhBtnConnectRoom,
    #dhBtnCreateRoom {
        width: 10em;
    }
}

.toast-info {
    background-color: #def1f7;
    color: #1c657d;
    border-color: #c6e6f1;
}

.toast-success {
    background-color: #d6f0e0;
    color: #0d6831;
    border-color: #c0e7d0;
}

.toast-warning {
    background-color: #fbf0da;
    color: #73510d;
    border-color: #f9e4be;
}

.toast-danger {
    background-color: #f9e1e5;
    color: #af233a;
    border-color: #f4c8cf;
}

.caret-off::before {
    display: none !important;
}

.caret-off::after {
    display: none !important;
}

.toast-show {
    -webkit-animation: show 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) both,
                       slide-left 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
            animation: show 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) both,
                       slide-left 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}

.toast-fade {
    -webkit-animation: fade 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) both,
                       slide-right 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
            animation: fade 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) both,
                       slide-right 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}

@-webkit-keyframes slide-left {
    0% {
        -webkit-transform: translateX(100px);
                transform: translateX(100px);
    }
    100% {
        -webkit-transform: translateX(0);
                transform: translateX(0);
    }
}
@keyframes slide-left {
    0% {
        -webkit-transform: translateX(100px);
                transform: translateX(100px);
    }
    100% {
        -webkit-transform: translateX(0);
                transform: translateX(0);
    }
}

@-webkit-keyframes slide-right {
    0% {
        -webkit-transform: translateX(0);
                transform: translateX(0);
    }
    100% {
        -webkit-transform: translateX(100px);
                transform: translateX(100px);
    }
}
@keyframes slide-right {
    0% {
        -webkit-transform: translateX(0);
                transform: translateX(0);
    }
    100% {
        -webkit-transform: translateX(100px);
                transform: translateX(100px);
    }
}

@-webkit-keyframes show {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes show {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fade {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@keyframes fade {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}